DATABASE_URL=file:./bagherololoumir.db
PAYLOAD_SECRET=YOUR_SECRET_HERE
SMS_IR_API_KEY=YOUR_SMS_IR_API_KEY
SMS_IR_TEMPLATE_ID=YOUR_SMS_IR_TEMPLATE_ID
SMS_DEV_FALLBACK=true
ZARINPAL_MERCHANT_ID=YOUR_ZARINPAL_MERCHANT_ID
NEXT_PUBLIC_SITE_URL=http://localhost:3000
